@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity:1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity:0; }
}

/*크롬에 적용할 애니매이션*/
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity:1; }
}

@-webkit-keyframes fadeOut {
    from { opacity: 1; }
    to { opacity:0; }
}

.fadeIn{
    animation: fadeIn;
    animation-duration: 0.5s;
}

.fadeIn{
    animation: fadeOut;
    animation-duration: 0.5s;
}